.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #055da7;
  border: 2px solid #03467d;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #03467d;
  border-color: #055da7;
}